---
layout: layouts/base.liquid
pageTitle: Portfolio
---

<section class="grid-main">
    <div class="grid-main__gutter-l">
        <h3 class="section-title">Case Studies</h2>
    </div>
    <div class="grid-main__content grid-main__content--narrow">
        <p class="dropcap">Kick back with your favorite hot or cold beverage for a little story time. I combed through the ridiculous amount of things I've built over the past several years and pulled out the highlights here. Read on for the nerdy details, and, of course, the pretty pictures too.</p>

        <ul>
            <li><a href="{{ '/portfolio/capacity-managed-tickets' | url }}">Capacity Managed Tickets</a></>
            <li><a href="{{ '/portfolio/vacation-planner' | url }}">Vacation Planner</a></>
            <li><a href="{{ '/portfolio/mailing-admin' | url }}">Mailing Admin</a></>
        </ul>
    </div>
</section>

{% comment %}
<div class="grid-main">
    <div class="grid-main__gutter-l">
        <h3 class="section-title">Snippets</h2>
    </div>
    <div class="grid-main__content grid-main__content--narrow">
        <p class="dropcap">We all have our little boxes of tricks, those little pieces of code that prove useful over and over across projects. I have a weird fascination with small, focused pieces of functionality like this. While I compile this work I am reminded of how I am indebted to all the generous and smart people who post code on the wild world of the Interwebs, so here is my own small contribution.</p>

        <ul>
            <li>Calendar</li>
            <li>Tree walker text highlighting</li>
            <li>Autocomplete</li>
            <li>Tabs</li>
            <li>Modal</li>
            <li>Copy to clipboard</li>
            <li>Download file</li>
            <li>Smooth scroll</li>
            <li>Anchor links with fixed header handling</li>
            <li>Responsive list</li>
        </ul>
    </div>
</div>
{% endcomment %}
