@use '../functions' as _f;

.dropcap::first-letter {
    float: left;
    font-family: var(--font-family-dropcap);
    font-size: 3.25rem;
    line-height: 1;
    padding-right: 8px;
}

.columns {
    column-count: 2;
    column-gap: var(--grid-column-gap);
    // column-rule: var(--border-width-thin) solid var(--color-border);
}

.page-title {
    font-family: var(--font-family-heading);
    font-size: _f.rem(40);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
    margin-top: 0;
    max-width: _f.rem(868);
}

.section-title {
    color: var(--red);
    font-family: var(--font-family-heading);
    font-size: _f.rem(40);
    font-weight: var(--font-weight-black);
    letter-spacing: var(--letter-spacing-caps);
    line-height: var(--line-height-heading);
    margin: 0.5em;
    text-transform: uppercase;
    writing-mode: vertical-lr;
}

.hd-2 {
    font-family: var(--font-family-heading);
    font-size: _f.rem(40);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-heading);
}

.hd-3 {
    font-family: var(--font-family-heading);
    font-size: _f.rem(30);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-heading);
}

.hd-sub {
    font-family: var(--font-family-main);
    font-size: _f.rem(24);
    font-style: italic;
    font-weight: var(--font-weight-light);
}
