---
layout: layouts/home.liquid
---

<figure class="home-fig">
    <div class="home-fig__profile">
        <img src="/images/profile.svg" alt="The ginormous profile of Nick Pruitt">
    </div>

    <figcaption class="home-fig__caption">
        <h1>Nick<br>Pruitt</h1>
        <p><span>developer, designer, artist, </span><span>father, friend, and all around nice guy</span> <span>with large beard.</span></p>
    </figcaption>
</figure>
