---
layout: layouts/home.liquid
---
<div class="profile">
    <img src="/images/profile.svg" alt="The ginormous profile of Nick Pruitt">
</div>

<div class="text">
    <h1>Nick<br>Pruitt</h1>
    <p><span>developer, designer, artist, </span><span>father, friend, and all around nice guy</span> <span>with large beard.</span></p>
</div>
