---
layout: layouts/home.liquid
---
<div class="profile">
    <img src="/images/profile.svg" alt="The ginormous profile of Nick Pruitt">
</div>

<div class="text">
    <h1>Nick<br>Pruitt</h1>
    <p>developer, designer, artist<br>father, friend, and all around nice guy<br>with large beard.</p>
</div>
