---
layout: layouts/base.liquid
pageTitle: Sad Trombone Sound
---

<article class="grid-main">
    <div class="grid-main__gutter-l">
        <h3 class="section-title">Offline</h2>
    </div>
    <div class="grid-main__content grid-main__content--narrow">
        <p class="dropcap">Your internet isn&rsquo;t working! Here&rsquo;s a list of possible replacement activities.</p>

        <ul>
            <li>Read a book.</li>
            <li>Cook a nice meal.</li>
            <li>Sit on your porch and enjoy a pipe.</li>
            <li>Go for a walk.</li>
            <li>Stare at a wall for a while and sigh deeply.</li>
            <li>Feverishly hit refresh until it&rsquo;s working again.</li>
        </ul>
    </div>
</article>
