@forward './config';
@forward './base/reset';
@use './functions' as _f;


// ---------------------
// Variables
// ---------------------

$breakpoint-s: 572px;
$breakpoint-m: 1000px;
$breakpoint-l: 1200px;


// ---------------------
// Figure Styles
// ---------------------

html,
body {
    height: 100%;
}

body {
    background-color: var(--green);
    font-family: var(--font-family-main);
}

@media (min-width: $breakpoint-l) and (min-height: 681px) {
    main {
        display: grid;
        min-height: 100%;
        place-items: center;
    }
}

.home-fig {
    margin: 0 auto;
    max-width: 900px;
    padding: var(--spacing-step-2) var(--spacing-step-4);
    position: relative;
    width: 100%;

    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}

.home-fig__profile {
    float: left;

    img {
        float: left;
        height: auto;
        margin-bottom: var(--spacing-step-2);
        width: 100%;

        @media (min-width: $breakpoint-s) {
            width: 536px;
        }
    }
}

.home-fig__caption {
    clear: left;

    @media (min-width: 970px) {
        left: 360px;
        position: absolute;
        white-space: nowrap;
        width: calc(100% - 536px - 2.5rem);
        z-index: 5;
    }

    // Polygon generation for shape-outside
    // https://betravis.github.io/shape-tools/path-to-polygon/
    &::before {
        @media (min-width: $breakpoint-s) {
            content: '';
            float: left;
            height: 607px;
            shape-outside: polygon(0px 0px, 48px 33px, 110px 156px, 106px 210px, 128px 249px, 150px 271px, 150px 298px, 141px 308px, 159px 350px, 132px 359px, 132px 369px, 150px 382px, 156px 404px, 183px 425px, 199px 465px, 239px 492px, 256px 544px, 239px 607px, -0px 607px);
            width: 256px;
        }
    }

    h1 {
        color: var(--white);
        font-family: var(--font-family-heading);
        font-size: var(--font-step-6);
        font-weight: var(--font-weight-black);
        line-height: 1.25;
        letter-spacing: var(--letter-spacing-caps);
        margin-bottom: 0;
        margin-top: 175px;
        text-transform: uppercase;
    }

    p {
        font-size: var(--font-step-2);
        font-weight: var(--font-weight-regular);
        line-height: 2;
        margin-top: 0;

        @media (min-width: $breakpoint-s) {
            span {
                display: block;
            }
        }
    }
}

// ---------------------
// Main site navigation
// ---------------------

.nav-main {
    padding-top: 1rem;

    @media (min-width: $breakpoint-l) {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }
}

.nav-main__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;

    @media (min-width: $breakpoint-s) {
        flex-direction: row;
    }

    > li {
        margin-bottom: var(--spacing-step-1);
        margin-right: var(--spacing-step-3);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.nav-main__link {
    color: var(--white);
    font-size: var(--font-step-4);
    position: relative;
    text-decoration: none;
    z-index: 5;

    &::after {
        background-color: var(--black);
        bottom: 4px;
        content: '';
        left: -2px;
        height: 4px;
        position: absolute;
        right: -2px;
        z-index: -1;
    }
}
