@forward './config';
@forward './base';
@forward './components';

@use './functions' as _f;

@forward './base/reset';

body,
html {
    min-height: calc(100vh - 0.5rem);
}

html {
    background-color: var(--green);
}

body {
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
    color: var(--black);
    font-family: var(--font-family-main);
    font-size: _f.rem(18);
    line-height: 1.5;
    margin: 0.25rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

ol:not([class]),
ul:not([class]),
dl:not([class]) {
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

hr {
    margin-bottom: 0;
    margin-top: 0;
}

/* Sizzle */
.js .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.js .is-hidden {
    opacity: 0;
}


// main {
//     padding: 2rem;
// }

p {
    margin-bottom: 0;
    margin-top: 0;
}

p + p {
    text-indent: 1.5em;
}

// @media (max-width: 528px) {
//     h1 {
//         --minFontSize: 1.5rem;
//         --maxFontSize: 3rem;
//         --scaler: 10vw;
//         font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
//     }

//     p {
//         font-size: 1rem;
//     }
// }
