<nav class="nav-main" role="navigation">
    <a class="nav-main__logo" href="/">nickpruitt</a>
    <ul class="nav-main__list">
        <li><a class="nav-main__link" href="{{ '/about' | url }}">about</a></li>
        <li><a class="nav-main__link" href="{{ '/portfolio' | url }}">portfolio</a></li>
        <li><a class="nav-main__link" href="{{ '/resume' | url }}">resume</a></li>
    </ul>
</nav>